* {
  margin: 0;
}

input{
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  border-radius: 0;
  outline: none;
  box-shadow: 0;
  font-size: 15px;

}

.app {
  background-color: #fafafa;
  padding-top: 84px;
  padding-bottom: 80px;
}

.app__header {
  background-color: #ffffff;
  object-fit: contain;
  height: 54px;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
}

.app__headerContainer{
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.app__headerImage{
  object-fit: contain;
  width: 100px;
}

.app__signUp{
  display: flex;
  flex-direction: column;
}

.app__signInMessage{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #444;
}